.tooltip {
    background: linear-gradient(to bottom, #fff, #ebebeb);
    border: 1px solid #0006;
    border-radius: 3px;
    box-shadow: 5px 5px 3px -3px #0006;
    padding: 1em 1em 1em 2.5em;
    position: relative;

    &:before {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.5 1.5v18h18l-18-18Z' fill='%23fff' stroke='%23fff'/%3E%3Cpath d='M1 19.5H.5v-18l18 18H18' stroke='%23939393'/%3E%3C/svg%3E");
        content: "";
        height: 18px;
        left: 1em;
        position: absolute;
        top: calc(18px * -1);
        width: 18px;
    }

    &[id] {
        position: absolute;
    }

    &.is-top {
        &:before {
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.5 1.5v18h18l-18-18Z' fill='%23ebebeb' stroke='%23ddd'/%3E%3Cpath d='M1 19.5H.5v-18l18 18H18' stroke='%23939393'/%3E%3C/svg%3E");
            bottom: calc(18px * -1);
            top: unset;
            transform: scale(-1);
        }

        &.is-right {
            &:before {
                transform: scaleY(-1);
            }
        }
    }

    &.is-left {
        &:before {
            left: unset;
            right: 1em;
        }

        &.is-bottom {
            &:before {
                transform: scaleX(-1);
            }
        }
    }
}

button {
    background: linear-gradient(#f2f2f2 45%, #ebebeb 45%, #cfcfcf);
    border: 1px solid #8e8f8f;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #fffc;
    box-sizing: border-box;
    color: #222;
    font: 9pt "Segoe UI", "SegoeUI", "Noto Sans", sans-serif;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    z-index: 0;

    &:before {
        background: linear-gradient(#eaf6fd 45%, #bee6fd 0, #a7d9f5);
        border-radius: 3px;
        box-shadow: inset 0 0 0 1px #fffc;
    }

    &:after,
    &:before {
        content: "";
        height: 100%;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 0;
        transition: opacity .3s;
        width: 100%;
        z-index: -1;
    }

    &:after {
        background: linear-gradient(#e5f4fc, #c4e5f6 30% 50%, #98d1ef 50%, #68b3db);
        border-radius: 2px;
        box-shadow: inset 1px 1px 0 #0003, inset -1px 1px 0 #0001;
    }

    &:disabled {
        background: #f4f4f4;
        border-color: #adb2b5;
        color: #838383;
    }

    &:not(:disabled) {
        &:hover {
            border-color: #3c7fb1;
            transition: border-color .3s;

            &:before {
                opacity: 1;
                transition: opacity .3s;
            }
        }

        &:not(:hover) {
            border-color: #8e8f8f;
            transition: border-color 1s linear;

            &:before {
                opacity: 0;
                transition: opacity 1s linear;
            }
        }

        &.active,
        &:active {
            border-color: #6d91ab;
            transition: border-color .3s;

            &:after {
                opacity: 1;
                transition: opacity .3s;
            }
        }
    }

    &.focused,
    &:focus-visible {
        box-shadow: inset 0 0 0 2px #98d1ef;
        outline: 1px dotted #000;
        outline-offset: -4px;
    }

    &.default,
    &.focused,
    &:focus {
        animation: pulse-anim 1s ease infinite alternate;
        background-image: linear-gradient(#eaf6fd 45%, #bee6fd 0, #a7d9f5);
        border-color: #5586a3;
    }
}

@keyframes pulse-anim {
    0% {
        box-shadow: inset 0 0 3px 1px #34deffdd
    }

    to {
        box-shadow: inset 0 0 1px 1px #34deffdd
    }
}

input {

    &[type=text],
    &[type=password],
    &[type=email],
    &[type=url],
    &[type=number] {
        height: 23px;
        background-color: #fff;
        border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        font-family: "Segoe UI";
        font-size: 9pt;
        padding: 3px 4px 5px;
        transition: border-color .5s;

        &:hover {
            border-color: #5794bf #b7d5ea #c7e2f1 #c5daed;
            transition: border-color .3s;
        }

        &:focus {
            border-color: #3d7bad #a4c9e3 #b7d9ed #b5cfe7;
            outline: none;
        }

        &:disabled {
            background: #f0f0f0;
            border-color: #afafaf;
            box-shadow: inset 0 0 0 1px #fff
        }
    }
}

textarea {
    height: 23px;
    background-color: #fff;
    border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font-family: "Segoe UI";
    font-size: 9pt;
    padding: 3px 4px 5px;
    transition: border-color .5s;

    &:hover {
        border-color: #5794bf #b7d5ea #c7e2f1 #c5daed;
        transition: border-color .3s;
    }

    &:focus {
        border-color: #3d7bad #a4c9e3 #b7d9ed #b5cfe7;
        outline: none;
    }

    &:disabled {
        background: #f0f0f0;
        border-color: #afafaf;
        box-shadow: inset 0 0 0 1px #fff
    }
}